@model OrderOfPizzas

<h3>Are You Sure You Want To Delete This Pizza ?</h3>
<p>@Model.PizzaName</p>


<form asp-action="DeletePizzaFromOrderPost">
    <input type="hidden" asp-for="@Model.OrderId" />
    <input type="hidden" asp-for="@Model.PizzaId" />
    @*<input type="hidden" asp-for="@Model.PizzaName" />*@
    <button type="submit"> Delete</button>
</form>
